<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOVIDA - Atendimento Inteligente</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <!-- EFEITO DE FUNDO -->
    <div id="noise-visual-container"></div>

    <!-- HEADER -->
    <header>
        <h1>
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='img/logo-icone.svg') }}" alt="Logo Movida" class="img-logo-icon">
                MOVIDA
            </a>
        </h1>

        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="#section-about">Sobre</a></li>
                <li><a href="#services">Serviços</a></li>
                <li><a href="#contato">Contato</a></li>
            </ul>
        </nav>

        <div class="side-buttons">
            <a href="{{ url_for('login_cadastro_paciente') }}" class="btn-box fx-liquid">Paciente</a>
            <a href="{{ url_for('login_estabelecimento') }}" class="btn-box fx-liquid">Estabelecimento</a>
        </div>
    </header>

    <div id="wrapper">
        <div id="content">

            <!-- HERO -->
            <section class="hero" id="home">
                <div class="hero-overlay"></div>
                <div class="hero-content">
                    <h2>Atendimento sem filas, mais tempo para viver.</h2>
                    <p>Com a MOVIDA, você sabe exatamente quando será atendido. Praticidade, transparência e eficiência em um só lugar.</p>
                    <a href="#section-about" class="btn-box btn">Saiba mais</a>
                </div>
            </section>

            <!-- SOBRE -->
            <section id="section-about" class="about-split-section">

                <div class="visual-data-column">
                    <div class="visual-content-box">
                        <script src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.7.1/dist/dotlottie-wc.js" type="module"></script>

                        <dotlottie-wc 
                            src="https://lottie.host/adc53b6a-fbf9-433d-b538-3a823cb4bfba/jjkDusXwkb.lottie"
                            speed="0.7"
                            style="width: 550px; height: 550px"
                            mode="forward"
                            loop autoplay>
                        </dotlottie-wc>
                    </div>

                    <div class="stats-grid">
                        <div class="stat-card-small green-card">
                            <p class="stat-num">+1 MILHÃO</p>
                            <p class="stat-desc">Pacientes atendidos</p>
                        </div>

                        <div class="stat-card-small">
                            <p class="stat-num">+500</p>
                            <p class="stat-desc">Clínicas e Hospitais</p>
                        </div>

                        <div class="stat-card-small">
                            <p class="stat-num">90%</p>
                            <p class="stat-desc">Mais agilidade no atendimento</p>
                        </div>

                        <div class="stat-card-small green-card">
                            <p class="stat-num">95%</p>
                            <p class="stat-desc">Satisfação do paciente</p>
                        </div>
                    </div>
                </div>

                <div class="text-cta-column">
                    <h2 class="main-title">MOVIDA é mais que uma plataforma.</h2>

                    <div class="description-wrapper">
                        <p class="main-description">
                            A MOVIDA é a <span class="span-green-about">solução digital completa</span>
                            para gerenciamento de filas e agendamentos.
                            <br><br>
                            Nosso propósito é garantir <span class="span-green-about">praticidade</span> e
                            <span class="span-green-about">eficiência</span>, melhorando totalmente
                            a experiência do atendimento.
                        </p>
                    </div>

                    <a href="#services" class="cta-button-split">Conheça nossos diferenciais</a>
                </div>

            </section>

            <!-- SERVIÇOS -->
            <div id="services"></div>
            <section class="services">
                <h2>Nossos diferenciais</h2>

                <div class="service-cards">

                    <div class="card card-animar-direita">
                        <dotlottie-wc 
                            src="https://lottie.host/bf94b759-57c6-4dfa-9f54-a2700c7495a6/GyDbdxHYJD.lottie"
                            speed="1"
                            style="width: 150px; height: 150px"
                            loop autoplay>
                        </dotlottie-wc>
                        <h3>Acompanhamento em tempo real</h3>
                        <p>Veja sua posição na fila e receba alertas quando estiver próximo.</p>
                    </div>

                    <div class="card card-animar-direita">
                        <dotlottie-wc 
                            src="https://lottie.host/9cdb3a8a-4ac9-4e2c-b3f0-c13643745b64/Ta3VNeb5BN.lottie"
                            speed="1"
                            style="width: 120px; height: 120px"
                            loop autoplay>
                        </dotlottie-wc>
                        <h3>Painel digital de senhas</h3>
                        <p>Acompanhe a fila em telas ou dispositivos móveis.</p>
                    </div>

                    <div class="card card-animar-direita">
                        <dotlottie-wc 
                            src="https://lottie.host/bd3d6b2f-1555-4e4d-999b-a79903366790/00ATy8i3cw.lottie"
                            speed="0.8"
                            style="width: 100px; height: 100px"
                            loop autoplay>
                        </dotlottie-wc>
                        <h3>Gestão inteligente</h3>
                        <p>Relatórios automáticos que otimizam o fluxo de atendimento.</p>
                    </div>

                    <div class="card card-animar-direita">
                        <dotlottie-wc 
                            src="https://lottie.host/336f3692-b698-4544-a0a5-8857cdcb1aef/9WPk8xB3l0.lottie"
                            speed="1"
                            style="width: 150px; height: 150px"
                            loop autoplay>
                        </dotlottie-wc>
                        <h3>Agendamento simplificado</h3>
                        <p>Reduza o tempo de espera com agendamentos antecipados.</p>
                    </div>

                </div>
            </section>

            <!-- FOOTER -->
            <footer id="contato" class="main-footer">
                <div class="footer-container">

                    <section class="footer-col-info">
                        <div class="logo">
                            <img src="{{ url_for('static', filename='img/logo-icone.svg') }}" alt="">
                            <span class="logo-text">MOVIDA</span>
                        </div>
                    </section>

                    <section class="footer-col-links">
                        <h3>Links rápidos</h3>
                        <ul>
                            <li><a href="#home">Home</a></li>
                            <li><a href="#section-about">Sobre</a></li>
                            <li><a href="{{ url_for('index') }}">Como funciona</a></li>
                            <li><a href="{{ url_for('index') }}">Termos de serviço</a></li>
                        </ul>
                    </section>

                    <section class="footer-col-contact">
                        <h3>Contato</h3>
                        <a href="mailto:info@movida.com">info@movida.com</a>
                    </section>

                </div>

                <div class="footer-bottom">
                    <p>MOVIDA 2025 - Todos os Direitos Reservados</p>
                    <p>
                        <a href="#">Política de Privacidade</a> |
                        <a href="#">Política de Cookies</a>
                    </p>
                </div>
            </footer>

        </div>
    </div>

    <!-- SCRIPTS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"></script>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
