body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #dfece7;
}

/* HEADER */
header {
    background: #123c35;
    padding: 25px;
    text-align: center;
    color: white;
    font-size: 28px;
}

/* LAYOUT */
.container {
    display: flex;
    padding: 30px;
}

/* FILTROS */
.filtros {
    width: 220px;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 0px 10px #b8c8c3;
    height: fit-content;
}

.filtros h3 {
    margin-top: 0;
    color: #123c35;
}

label {
    font-weight: bold;
    color: #123c35;
    margin-top: 15px;
}

select {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #9bb3ac;
    margin-top: 5px;
}

.btn {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    background: #2f6658;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background: #123c35;
}

/* LISTA DE PROFISSIONAIS */
.lista-profissionais {
    flex: 1;
    margin-left: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.prof-card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 0px 10px #b8c8c3;
}

.nome {
    font-size: 22px;
    font-weight: bold;
    color: #123c35;
}

.especialidade {
    color: #2f6658;
    margin: 5px 0;
}

.status {
    padding: 6px 10px;
    display: inline-block;
    border-radius: 6px;
    font-weight: bold;
    margin-top: 10px;
}

.disponivel {
    background: #2fa141;
    color: white;
}

.atendimento {
    background: #e7b325;
    color: black;
}

.pausa {
    background: #e7681b;
    color: white;
}

.horario {
    margin-top: 8px;
    font-size: 16px;
    color: #003322;
}

.ver-mais {
    margin-top: 15px;
    width: 100%;
    padding: 12px;
    border: none;
    background: #2f6658;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.ver-mais:hover {
    background: #123c35;
}
