<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel da Fila</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='fila.css') }}">
</head>

<body>

    <!-- HEADER FIXO NO TOPO -->
    <header>
        <div class="logo">
            <h1><a href="#">MOVIDA</a></h1>
        </div>

        <nav>
            <ul>
                <li><a href="#HOME">Home</a></li>
                <li><a href="#servicos">Serviços</a></li>
                <li><a href="#fale">Fale conosco</a></li>
                <li><a href="#contato">Contato</a></li>
            </ul>
        </nav>

        <div class="side-buttons">
            <a href="/" class="btn">Paciente</a>
            <a href="#" class="btn">Estabelecimento</a>
        </div>
    </header>

    <!-- CONTEÚDO -->
    <section class="content">

        <h2 class="titulo-painel">Painel de Fila</h2>

        <div class="painel">

            <!-- 5 últimos chamados -->
            <div class="card chamados">
                <h3>Últimos Chamados</h3>

                <ul id="lista-chamados" class="lista-chamados">
                    {% for p in ultimos %}
                    <li>{{ p.nome }}</li>
                    {% else %}
                    <li>Nenhum chamado ainda</li>
                    {% endfor %}
                </ul>
            </div>

            <!-- Fila atual -->
            <div class="card fila">
                <h3>Fila Atual</h3>

                <table id="tabela-fila" class="fila-tabela">
                    <tr>
                        <th>Posição</th>
                        <th>Nome</th>
                    </tr>
                    {% for paciente in fila[:10] %}
                    <tr {% if loop.index0==4 %}class="destaque-paciente" {% endif %}>
                        <td>{{ loop.index }}º</td>
                        <td>{{ paciente.nome }}</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="2">Fila vazia</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

        </div>

    </section>

    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.min.js"></script>
    <script>
        const socket = io();

        socket.on("fila_atualizada", (data) => {
            const tabela = document.getElementById("tabela-fila");

            while (tabela.rows.length > 1) tabela.deleteRow(1);

            data.fila.forEach((p, i) => {
                const row = tabela.insertRow();

                if (i === 4) row.classList.add("destaque-paciente");

                row.insertCell(0).innerText = (i + 1) + "º";
                row.insertCell(1).innerText = p.nome;
            });
        });
    </script>


</body>

</html>