$borda-test: 1px solid #00000057;
$verde_claro: #C4DAD2;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var($verde_claro);

    .container {
        width: 90%;
        max-width: 1500px;
        padding: 1.2rem;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border: $borda-test;

        .top-div {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 10vh;
            border: $borda-test;
        }

        .middle-div {
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: $borda-test;

            h3 {
                color: red;
            }
        }

        .bottom-div {
            display: flex;
            gap: 10px;
            flex: 1;
            padding: 0.6rem;
            border: $borda-test;

            .left,
            .right {
                flex: 1;
                height: 300px;
                border: $borda-test;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .left {
                h3 {
                    color: red;
                }
            }

            .right {

                .fila-tabela {
                    width: 100%;
                    height: 100%;
                    border-collapse: collapse;

                    th,
                    td {
                        border: 1px solid #ddd;
                        padding: 10px;
                        justify-content: center;
                    }

                    th {
                        background-color: #f2f2f2;
                        color: #333;
                    }

                    .destaque-paciente {
                        background-color: rgb(200, 235, 232);
                        font-weight: bold;
                        font-size: 17px;
                        color: rgb(0, 7, 201);
                    }

                }

            }
        }

    }

}