body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f1f5f1;
    color: #003322;
}

/* HEADER */
header {
    background: #123c35;
    color: white;
    text-align: center;
    padding: 25px;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 1px;
}

/* LAYOUT */
.container {
    padding: 30px 50px;
}

/* LEFT BOXES */
.left-boxes {
    width: 25%;
    float: left;
}

.left-box {
    background: #dfece7;
    margin-bottom: 18px;
    padding: 18px 22px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    align-items: center;
}

.left-box span {
    background: #2f6658;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 22px;
    font-weight: bold;
}

/* DASHBOARD PANELS */
.dashboard {
    margin-left: 30%;
    display: flex;
    justify-content: space-around;
    width: 65%;
}

.panel {
    background: white;
    padding: 20px;
    text-align: center;
    width: 45%;
    box-shadow: 0px 0px 10px #b8c8c3;
    border-radius: 12px;
}

.panel h2 {
    margin: 10px 0;
    color: #123c35;
}

.big-num {
    font-size: 50px;
    color: #2f6658;
    font-weight: bold;
}

.timer {
    font-size: 32px;
    font-weight: bold;
}

/* TITULO */
.title {
    text-align: center;
    margin-top: 80px;
    font-size: 28px;
    color: #123c35;
}

/* RISK GRID */
.risk-grid {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.risk {
    width: 23%;
    padding: 20px;
    color: white;
    border-radius: 12px;
    text-align: center;
}

.risk h3 {
    margin: 0;
    font-size: 26px;
}

.risk .info {
    font-size: 18px;
    margin-top: 5px;
}

.risk .count {
    font-size: 50px;
    margin: 15px 0;
    font-weight: bold;
}

.time {
    font-size: 26px;
    display: block;
}

/* RISK COLORS */
.verde { background: #2fa141; }
.amarelo { background: #e7b325; }
.laranja { background: #e7681b; }
.vermelho { background: #c92828; }
